@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --color-background: var(--color-white);
  --color-foreground: var(--color-gray-700);

  --color-primary: #0bca1e;
  --color-white: #ffffff;

  --color-gray-700: #222222;
}

:root {
  --limit-xl: 1392px;
  --limit-l: 1080px;
  --limit-m: 940px;
  --limit-s: 620px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

/* Global Style */
body {
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-foreground);
  font-size: 16px;
  font-family: var(--font-pretendard);
  scroll-behavior: smooth;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
